<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Gate Recognition WEB</title>
        
      </head>
      
<body>

    <h1>Simple Iris identifier</h1>
    <hr>
    <form action = "result">
        Sepal Length: <input type ="number" name = "sepal-length" required><br>
        Sepal Width: <input type ="number" name = "sepal-width" required><br>
        Petal Length: <input type ="number" name = "petal-length" required><br>
        Petal Width: <input type ="number" name = "petal-width" required><br>
        <input type = "submit">
    </form>
    <p>This is a paragraph.</p>

</body>
</html>